.asd {
width: 100px;	height: 622px;
background: #fc0;
outline: 2px solid #425255;
border: 10px solid #fff;
border-radius: 10px;
width: 700px;
padding: 40px;
margin: auto;

font-family: 'Times New Roman', Times, serif;
font-size: 180%;
}

